body {
  margin-top: 1.5rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.2rem;
}

textarea {
  height: 12rem;
}

textarea:focus {
  border-color: #1da1f2;
}

button, button[disabled]:hover {
  background-color: #1da1f2;
  border: 0.1rem solid #1da1f2;
}

button.button-outline, button.button-outline[disabled]:hover {
  background-color: #0000;
  color: #1da1f2;
}

.hidden {
  display: none;
}

blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0.3rem;
  left: -2.4rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.3rem;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  border-color: #1da1f2;
}

input[type="checkbox"]:checked + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: -1.8rem;
  width: 0.6rem;
  height: 1.2rem;
  border: 0.2rem solid #1da1f2;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
