html, h1, h2, h3, h4, h5, h6 {
  font-family: Courier, sans-serif;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

h1 + b {
  margin-left: 0.3rem;
}

main > section {
  margin: 5rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

i {
  vertical-align: -3px;
  margin-right: 1rem;
}

p {
  margin: 0 1rem;
}

#profile > section {
  display: flex;
  padding-left: 1.5rem;
}

#profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#identifications ul {
  column-count: 2;
}

